<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Preamble" data-toc-modified-id="Preamble-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Preamble</a></span></li><li><span><a href="#Overview" data-toc-modified-id="Overview-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Overview</a></span></li><li><span><a href="#Business-Problem" data-toc-modified-id="Business-Problem-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Business Problem</a></span></li><li><span><a href="#Data---Loading,-Exploration,-Preparation" data-toc-modified-id="Data---Loading,-Exploration,-Preparation-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Data - Loading, Exploration, Preparation</a></span><ul class="toc-item"><li><span><a href="#Load-Data" data-toc-modified-id="Load-Data-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Load Data</a></span></li><li><span><a href="#Initial-Exploration" data-toc-modified-id="Initial-Exploration-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Initial Exploration</a></span></li><li><span><a href="#Cleaning-and-Preparation" data-toc-modified-id="Cleaning-and-Preparation-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Cleaning and Preparation</a></span></li></ul></li></ul></div>

# Preamble

> We want to demonstrate how to do an analysis similar to the Phase 1 project.
>
> We will use the data from the examples found here in this repo: https://github.com/learn-co-curriculum/dsc-project-template/tree/example-aab

# Overview

# Business Problem

# Data - Loading, Exploration, Preparation

## Load Data

In [1]:
import pandas as pd

In [2]:
data_urls = (
    'https://github.com/learn-co-curriculum/dsc-project-template/blob/example-aab/data/Austin_Animal_Center_Intakes_082620.csv?raw=true',
    'https://github.com/learn-co-curriculum/dsc-project-template/blob/example-aab/data/Austin_Animal_Center_Outcomes_082620.csv?raw=true'
)

In [3]:
# Load the data
def load_data(urls):
    '''
    '''
    dfs = {
        # Key is essentially just file name; value is DataFrame
        url.split('/')[-1].replace('?raw=true',''): pd.read_csv(url)
        for url in urls
    }
    return dfs

In [4]:
dfs = load_data(data_urls)
for key,df in dfs.items():
    print(key)
    display(df.head())

Austin_Animal_Center_Intakes_082620.csv

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A786884,*Brock,01/03/2019 04:19:00 PM,01/03/2019 04:19:00 PM,2501 Magin Meadow Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Beagle Mix,Tricolor
1,A706918,Belle,07/05/2015 12:59:00 PM,07/05/2015 12:59:00 PM,9409 Bluegrass Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,8 years,English Springer Spaniel,White/Liver
2,A724273,Runster,04/14/2016 06:43:00 PM,04/14/2016 06:43:00 PM,2818 Palomino Trail in Austin (TX),Stray,Normal,Dog,Intact Male,11 months,Basenji Mix,Sable/White
3,A665644,NaN,10/21/2013 07:59:00 AM,10/21/2013 07:59:00 AM,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico
4,A682524,Rio,06/29/2014 10:38:00 AM,06/29/2014 10:38:00 AM,800 Grove Blvd in Austin (TX),Stray,Normal,Dog,Neutered Male,4 years,Doberman Pinsch/Australian Cattle Dog,Tan/Gray

Austin_Animal_Center_Outcomes_082620.csv

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A794011,Chunk,05/08/2019 06:20:00 PM,05/08/2019 06:20:00 PM,05/02/2017,Rto-Adopt,NaN,Cat,Neutered Male,2 years,Domestic Shorthair Mix,Brown Tabby/White
1,A776359,Gizmo,07/18/2018 04:02:00 PM,07/18/2018 04:02:00 PM,07/12/2017,Adoption,NaN,Dog,Neutered Male,1 year,Chihuahua Shorthair Mix,White/Brown
2,A720371,Moose,02/13/2016 05:59:00 PM,02/13/2016 05:59:00 PM,10/08/2015,Adoption,NaN,Dog,Neutered Male,4 months,Anatol Shepherd/Labrador Retriever,Buff
3,A674754,NaN,03/18/2014 11:47:00 AM,03/18/2014 11:47:00 AM,03/12/2014,Transfer,Partner,Cat,Intact Male,6 days,Domestic Shorthair Mix,Orange Tabby
4,A689724,*Donatello,10/18/2014 06:52:00 PM,10/18/2014 06:52:00 PM,08/01/2014,Adoption,NaN,Cat,Neutered Male,2 months,Domestic Shorthair Mix,Black

## Initial Exploration

## Cleaning and Preparation